.new-challenge {
  display: flex;
  flex-direction: row-reverse;
  margin: $m-gutter;

  @media (min-width: 320px) and (max-width: 480px) {
    flex-direction: row;
    justify-content: center;
  }
}
